main {
  background-image: url("../images/shutterstock_1413246461.png");
  color: white;
  height: 400px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
