@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

a {
  transition: color 0.1s, background-color 0.1s;
}

a:link {
  background-color: transparent;
  color: #1dbfff;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: rgb(14, 14, 56);
}

a:focus {
  background-color: #1685b1;
  color: white;
}

a:hover {
  background-color: #1dbfff;
  color: white;
}
